{% extends "base.html" %}

{% block content %}
    <h1>{{ product.name }}</h1>
    <p><a href="{% url 'product_update' product.pk %}">Edit</a>
    <p>{{ product.description }}</p>
    <ul>
        {% for component in product.components.all %}
        <li><a href="{% url 'component_detail' component.pk %}">{{ component.name }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'component_add' %}?product_id={{ product.id }}">New component</a>
    {% if product.components %}
	<table border="1">
  	<tr>
    	<th>Component</th>
    	<th>Description</th>
    	<th></th>
  	</tr>
  	{% for component in product.components.all %}
  	<tr>
    	<td><a href="{{ component.get_absolute_url }}">{{ component.name }}</a></td>
    	<td><a href="{% url 'component_delete' component.pk %}">Delete</a></td>
  	</tr>
  	{% endfor %}
	</table>
	{% else %}
  	<p>There are no components.</p>
	{% endif %}
{% endblock %}
